[CSS2] empty url() behaviour needs errata to match Level 3

https://drafts.csswg.org/css-values-3/#url-empty states:

> If the value of the url() is the empty string (like url("") or url()), the url must resolve to an invalid resource (similar to what the url about:invalid does).

This contradicts CSS2, which states:

> In order to create modular style sheets that are not dependent on the absolute location of a resource, authors may use relative URIs. Relative URIs (as defined in [RFC3986]) are resolved to full URIs using a base URI. RFC 3986, section 5, defines the normative algorithm for this process. For CSS style sheets, the base URI is that of the style sheet, not that of the source document.

As an empty URL is a relative URI as defined by RFC3986, per CSS2 if the value of the url() is the empty string, then it must resolve to the URL of the style sheet.

This is observable both through the CSSOM and through use of content negotiation and polyglot documents.

(FWIW, credit to https://github.com/w3c/web-platform-tests/issues/9113#issuecomment-359266623 for making me notice this discrepancy.)

@gsnedders Can you clarify what behavior is currently implemented? Because we should align both specs to that. (Assuming it's one or the other, and not something else completely insane.)

FWIW:

This was added in e0518924c87638861e6b89cc303667b9421cf152, per a WG resolution, so we'd presumably have to revert the resolution and then maybe eventually issue errata for 2.1 and 3 if we still want to change this behaviour in 4.

@gsnedders I can't seem to find the minutes on this issue. :( But also, can you answer the above question? :)

Edge does not parse `url()` as a valid url (by choice, visibly).
Chrome and Firefox seems to.


@FremyCompany That seems odd. What about `url('')`?

@fantasai I apparently need to correct my previous statement. Both url are valid at parse time in Edge, we just incorrectly serialize them as 'none' in background-image. If I had used content I would have seen it work.

The default value of the flag `isURL = false` I saw in the code is irrelevant because its value is always set to true when you encounter the closing parenthesis and nothing triggered fallback to bad-url-token before that.

The Working Group just discussed `[CSS2] empty url() behaviour needs errata to match Level 3`, and agreed to the following resolutions:

* `RESOLVED: revert the change and open an issue noting that we had this change and we're not sure about it at this point.`

<details><summary>The full IRC log of that discussion</summary>
&lt;dael> Topic: [CSS2] empty url() behaviour needs errata to match Level 3<br>
&lt;dael> github: https://github.com/w3c/csswg-drafts/issues/2211<br>
&lt;dael> fantasai: Basically gsnedders found css2 and css3 disagree what to do with an empty URL.<br>
&lt;dael> fantasai: Looks like we decided for L3 to make it invalid instead of refer to location of stylesheet. I couldn't find the minutes of that resolution so if anyone remembers that discussion it would be useful. We should make specs agree and impl to agree with specs.<br>
&lt;dael> astearns: Do we have data on current impl?<br>
&lt;dael> fantasai: gsnedders do you know? I tested using computed values wehre i got URL of the page, it was invalid<br>
&lt;dael> gsnedders: I think Chrome &amp; FF resolve to page itself. I'm not sure.<br>
&lt;dael> astearns: Proposal is change L3 to match impl and revert the invalid resource bit?<br>
&lt;dael> fantasai: Would need to look what that looks like in the changeset. I have no real opinion on which way to go.<br>
&lt;dael> astearns: I spent time trying to find the resolution that lead to this and I failed as well.<br>
&lt;dael> astearns: What should we do fantasai ? Resolve to revert or do more research and see what's impl, have tests, and then decide on how to change L3?<br>
&lt;dael> fantasai: I thinkw ehave a fairly good idea. Test we ran so far it's not treated as invalid. It's supposed to be parsed as incorrect. Since this is a spec in CR and we have 2.1 and previous version say valid points at page we should revert. If someone thinks revist we can re-open it. That's my opinion because we want to update V&amp;U.<br>
&lt;dael> fantasai: If we're not sure what to do don't make the change, file an issue, leave it open for later.<br>
&lt;dael> astearns: Given that we're still trying to figure out why we made the change it makes sense to open an issue.<br>
&lt;dael> fantasai: Then let's revert the change tot he draft and publish<br>
&lt;dael> astearns: What about revert change to draft, leave change and note as a comment in the draft so there's something in the source?<br>
&lt;dael> fantasai: I can mark it as an issue in the draft, this is CR spec. That text I can leave it commented in and that text is linked from the issue.<br>
&lt;dael> astearns: Sounds fair.<br>
&lt;dael> astearns: Proposal is revert hte change and open an issue noting that we had this change and we're not sure about it at this point.<br>
&lt;dael> astearns: Obj?<br>
&lt;dael> RESOLVED: revert the change and open an issue noting that we had this change and we're not sure about it at this point.<br>
</details>


Marking as Agenda+ to protest the resolution (I guess I wasn't able to make this call, seeing as I'm not in the minutes...).  The reasoning for the change is stated clearly in the Note immediately following the quoted paragraph, which has been part of the draft since June 2016.

So I'd like to keep this change. The only observable difference is in how it's reflected in the OM; no place where url() is currently used can validly take a stylesheet, so treating `url("")` as a normal relative url (and thus pointing to the stylesheet itself) always results in a broken image/etc.

> so treating url("") as a normal relative url (and thus pointing to the stylesheet itself) always results in a broken image/etc.

That's surely not true with content negotiation? Or, heck, just crazy polyglot documents like http://incept10n.com/ 

"always" should be read as "practically always"; insane polyglots or content-negotiation of this sort don't happen in practice and thus aren't relevant for us deciding what to do here.

The Working Group just discussed `empty url behavior`, and agreed to the following:

* `RESOLVED: Empty URLs are treated as "about:invalid"`

<details><summary>The full IRC log of that discussion</summary>
&lt;fantasai> Topic: empty url behavior<br>
&lt;fantasai> github: https://github.com/w3c/csswg-drafts/issues/2211<br>
&lt;fantasai> ScribeNick: fantasai<br>
&lt;fantasai> TabAtkins: url() function with empty string as its argument...<br>
&lt;fantasai> TabAtkins: I changed spec ot match behavior of empty resource requests in HTML<br>
&lt;fantasai> TabAtkins: and y'all reverted the change because you didn't understand why I did it<br>
&lt;fantasai> TabAtkins: Answer is to be consistent with HTML!<br>
&lt;fantasai> TabAtkins: Empty URL is technically a relative URL to the resource itself<br>
&lt;fantasai> TabAtkins: But e.g. in HTML &lt;img src=""> doesn't load the resource<br>
&lt;fantasai> TabAtkins: Empty URLs will still resolve in some cases, like in links<br>
&lt;fantasai> TabAtkins: But not for resource loading like this. Makes no sense to load the CSS stylesheet as an image of itself.<br>
&lt;fantasai> ...<br>
&lt;fantasai> chris: Do we expose imports in the OM, and would ...??<br>
&lt;fantasai> TabAtkins: I don't know<br>
&lt;fantasai> TabAtkins: But recursively attaching the same URL again wouldn't be useful<br>
&lt;fantasai> TabAtkins: I would like it to automatically fail, invalid URL.<br>
&lt;fantasai> tantek: But not invalid syntax<br>
&lt;fantasai> TabAtkins: No, not invalid syntax<br>
&lt;fantasai> TabAtkins: There's no place in CSS where resolving the URL as the URL of the stylesheet would be useful<br>
&lt;fantasai> TabAtkins: Proposal is that the empty URL, rather than being treated as a relative URL, is treated as an invalid URL<br>
&lt;fantasai> TabAtkins: Computed value is still an empty string, just treated like 'about:invalid'<br>
&lt;fantasai> TabAtkins: There should be no noticeable behavior difference, since the stylesheet is not a valid image/etc.<br>
&lt;tantek> +1<br>
&lt;fantasai> Rossen: Other comments?<br>
&lt;fantasai> RESOLVED: Empty URLs are treated as "about:invalid"<br>
&lt;TabAtkins> ScribeNick: TabAtkins<br>
&lt;TabAtkins> Rossen: So this is the last Values 3 issue.<br>
</details>


AFAICT this was already published in the CR in August (shortly after the resolution above), so doesn't need edits. https://www.w3.org/TR/css-values-3/#url-empty

NM, Needs Edits was left for CSS2. Untagging css-values-3 then.