[css-selectors-4] Clarify :lang() behavior when the language range is not a well-formed BCP 47 code

According to https://www.w3.org/TR/selectors-4/#the-lang-pseudo,

> An element’s [content language](https://www.w3.org/TR/css-text-3/#content-language) matches a [language range](https://www.w3.org/TR/selectors-4/#language-range) if, when represented in BCP 47 syntax [[BCP47]](https://www.w3.org/TR/selectors-4/#biblio-bcp47), it matches that language range in an extended filtering operation per [[RFC4647]](https://www.w3.org/TR/selectors-4/#biblio-rfc4647) Matching of Language Tags (section 3.3.2).

The text also goes on to mention that

> The language range does not need to be a *valid language code* to perform this comparison.

[my emphasis] which implies, as I understand it, that something like `:lang("qq")` will match content tagged with `lang="qq"` even though `qq` is not a *valid* language tag (as listed in the IANA registry).

However, the Selectors spec does not specifically address how *ill-formed* (not merely *invalid*) tags should be handled.

According to the language tag syntax given in https://www.rfc-editor.org/rfc/rfc5646#section-2.1, a tag like `åå` (containing non-ASCII characters) would be ill-formed ("the language tags described in this document are sequences of characters from the US-ASCII [[ISO646](https://www.rfc-editor.org/rfc/rfc5646#ref-ISO646)] repertoire"), as would a tag like `en---` (the various subtags following the primary language subtag are *optional*, but the grammar does not allow for them to be *empty*; if they're not present, the corresponding hyphen delimiters should also be omitted).

So how does `:lang()` matching work in the presence of ill-formed codes? It seems to me that a literal reading of the spec requires that such codes *never* match, because its definition of "matches" depends on "when represented in BCP 47 syntax", and such ill-formed codes cannot be represented in BCP 47 at all; they conflict with its basic grammar.

A possible alternative interpretation might be that the handling of ill-formed codes is simply *undefined* (because the spec only addresses what it means to "match" for codes "represented in BCP 47 syntax".

I'm not aware of any compelling use case for ill-formed language codes. So in the interests of clarity and interoperability I would like to ask the WG to confirm (and explicitly note in the spec) that `:lang()` matching is based strictly on BCP 47 and RFC4647, and as such, *ill-formed codes never match*.

(Note that the current implementation in WebKit *does* allow ill-formed tags to match. Thus if content is tagged with `lang="SomeRandomCode-Latn-US"`, which is ill-formed because the primary language subtag is too long, it is nevertheless matched by `:lang(SomeRandomCode)`, `:lang("*-US")`, etc. I think this should be considered a bug in the implementation.)

Right, this is undefined in the spec right now. If the `:lang()` argument can't be interpreted in BCP-47 syntax, it should definitely just fail to match straight away.

@tabatkins what if the `:lang()` argument is well-formed language range but the language tag for an element isn't BCT-47 syntax? e.g. `lang="SomeRandomCode-Latn-US"`

> lang="SomeRandomCode-Latn-US"

That tag cannot be parsed according to BCP47 syntax, and therefore *we have no basis to assume anything about any part of it*, such as the meaning of the `Latn` or `US` substrings in it, or even that the hyphens delimit "subtags" at all.

Therefore, IMO it should not match any `:lang()` pseudo, not even `:lang("*")`.

Twenty years ago, I briefly argued that implementations should be free to use external knowledge about the data format in order map random language information to BCP-47. 

<https://lists.w3.org/Archives/Public/www-style/2003Oct/0234.html>

The CSSWG will automatically accept this resolution one week from now if no objections are raised here. Anyone can add an emoji to this comment to express support. If you do not support this resolution, please add a new comment.

Proposed Resolution: Any `:lang()` argument that cannot be parsed with the BCP-47 syntax causes the selector to not match

`qq` is not invalid [*syntactically*](https://datatracker.ietf.org/doc/html/rfc5646#section-2.1), so `:lang(qq)` should still match `lang=qq` like any other *unassigned* ISO 639 code would. 

<details><summary>RFC 5646 ABNF grammar</summary>

~~~~ abnf
 Language-Tag  = langtag             ; normal language tags
               / privateuse          ; private use tag
               / grandfathered       ; grandfathered tags

 langtag       = language
                 ["-" script]
                 ["-" region]
                 *("-" variant)
                 *("-" extension)
                 ["-" privateuse]

 language      = 2*3ALPHA            ; shortest ISO 639 code
                 ["-" extlang]       ; sometimes followed by
                                     ; extended language subtags
               / 4ALPHA              ; or reserved for future use
               / 5*8ALPHA            ; or registered language subtag

 extlang       = 3ALPHA              ; selected ISO 639 codes
                 *2("-" 3ALPHA)      ; permanently reserved

 script        = 4ALPHA              ; ISO 15924 code

 region        = 2ALPHA              ; ISO 3166-1 code
               / 3DIGIT              ; UN M.49 code

 variant       = 5*8alphanum         ; registered variants
               / (DIGIT 3alphanum)

 extension     = singleton 1*("-" (2*8alphanum))

                                     ; Single alphanumerics
                                     ; "x" reserved for private use
 singleton     = DIGIT               ; 0 - 9
               / %x41-57             ; A - W
               / %x59-5A             ; Y - Z
               / %x61-77             ; a - w
               / %x79-7A             ; y - z

 privateuse    = "x" 1*("-" (1*8alphanum))

 grandfathered = irregular           ; non-redundant tags registered
               / regular             ; during the RFC 3066 era

 irregular     = "en-GB-oed"         ; irregular tags do not match
               / "i-ami"             ; the 'langtag' production and
               / "i-bnn"             ; would not otherwise be
               / "i-default"         ; considered 'well-formed'
               / "i-enochian"        ; These tags are all valid,
               / "i-hak"             ; but most are deprecated
               / "i-klingon"         ; in favor of more modern
               / "i-lux"             ; subtags or subtag
               / "i-mingo"           ; combination
               / "i-navajo"
               / "i-pwn"
               / "i-tao"
               / "i-tay"
               / "i-tsu"
               / "sgn-BE-FR"
               / "sgn-BE-NL"
               / "sgn-CH-DE"

 regular       = "art-lojban"        ; these tags match the 'langtag'
               / "cel-gaulish"       ; production, but their subtags
               / "no-bok"            ; are not extended language
               / "no-nyn"            ; or variant subtags: their meaning
               / "zh-guoyu"          ; is defined by their registration
               / "zh-hakka"          ; and all of these are deprecated
               / "zh-min"            ; in favor of a more modern
               / "zh-min-nan"        ; subtag or sequence of subtags
               / "zh-xiang"

 alphanum      = (ALPHA / DIGIT)     ; letters and numbers

~~~~

</details>

PS: The phrase “cannot be parsed with the BCP-47 syntax” from the proposed resolution by @svgeesus (or equivalently “can't be interpreted …” by @tabatkins) seems semantically identical to “ill-formed” in the initial post of this issue by @jfkthame (or to my use of “syntactically invalid” above).

@jfkthame @aphillips clarifying language, plus two examples, added. Does that resolve this issue?

This won't work.

Language **_tags_** can be well-formed and can be valid. But _extended language ranges_ use a different, much more permissive syntax. See: https://www.rfc-editor.org/rfc/rfc4647.html#section-2.2

Using a language range that does not consist of a well-formed language tag doesn't make it match better, which is what you're trying to get at. 

However, extended language ranges permit the wildcard `*` in any subtag position. Canonically, only the first ("primary language subtag") position matters. Other wildcards normalize away when the range is parsed. But this is complicated because there is no "well-formed-but-language-range" ABNF. Your text won't work and could be considered misleading (does it mean 4647/2.2 or 5646/2.2.9??). It might say something like:

> A _language range_ must be an extended language range according to BCP47.
> Language ranges that are not [well-formed language tags](https://www.w3.org/TR/i18n-glossary/#dfn-well-formed)
> or which would not be a well-formed language tag if an initial wildcard character `*` were replaced with a 
> valid subtag do not match anything.

In practice, it is probably easier to note that ranges that don't match the RFC4647 section 2.2 syntax fail and leave it at that. While ranges like "English" and "1234-banana" are invalid as language tags, they also won't match anything productively. The examples provided illustrate 4647 just as well and don't need to be changed.

Thanks for the explanation @aphillips  I replaced what was there with your suggested language, keeping the examples unchanged. Please confirm.

@svgeesus LGTM. Thanks.

WPT were updated already by Chromium WPT export

> WPT were updated already by Chromium WPT export

I don't think the tests are entirely correct. In particular, https://wpt.live/css/selectors/selectors-4/lang-singleton-subtag-matching.html has tests that expect to match the tags `fr-x` and `zh-x`, but AFAICS according to [BCP47 syntax](https://www.rfc-editor.org/rfc/rfc5646.html#section-2.1) these are ill-formed: the `x` singleton that indicates private-use is _only_ allowed if followed by a further subtag.

Re-opening until all the affected WPT are correct

@felipeerias I believe you were updating those tests?


@svgeesus @aphillips Yes, I recently updated those tests as part of the ongoing Chromium implementation.

My understanding is that:

- extended language ranges in the `:lang()` selector follow the syntax in [RFC4647 2.2](https://datatracker.ietf.org/doc/html/rfc4647#section-2.2);
- content language values (e.g. the `lang` attribute) follow "BCP 47" syntax, which here means specifically [RFC5646 2.1](https://datatracker.ietf.org/doc/html/rfc5646#section-2.1);
- matching follows the extended filtering algorithm in [RFC4647 3.3.2](https://datatracker.ietf.org/doc/html/rfc4647#section-3.3.2).

Values that are not well-formed according to their respective syntax would then never match, which would resolve this issue.

If that's the intention of the spec, then this sentence in the current text adds a contradictory restriction:

> Language ranges that are not well-formed language tags or which would not be a well-formed language tag if an initial wildcard character "*" were replaced with a valid subtag, do not match anything.

I am not sure that this restriction is needed.

For example, `fr-x` is a valid language range (RFC4647) but an invalid language tag (RFC5646). Following the points above:

- `:lang(fr-x)` would **not** match an element with `lang="fr-x"` (invalid tag)
- `:lang(fr-x)` would match an element with `lang="fr-x-standard"` (valid tag)
- `:lang(fr-x)` would **not** match an element with `lang="fr-x-ninechars"` (invalid tag, subtag too long)


@felipeerias, I tend to agree: garbage into the match algorithm produces the right level of not matching without the need for additional work by the spec or implementers. Your tests look good to me.

(Note: The text you quoted would forbid the range `fr-x` from matching because `fr-x` is not a well-formed tag. This is an error in the text I suggested.)

RFC4647 extended filtering does **not** require that implementations check whether language **_tags_** are well-formed (and certainly not valid). An implementation therefore would tend to make all three of your examples "match", even though the first and third example's language tags are not well-formed. However, CSS has chosen to canonicalize language tags and this implies it would fail non-well-formed tags:

> Both the content language and the language range must be canonicalized and converted to extlang form as per section 4.5 of [[RFC5646]](https://www.w3.org/TR/selectors-4/#biblio-rfc5646) prior to the extended filtering operation.

This requirement effectively rejects not only badly formed ranges (`en=fubar`, `åå`, `fr-ninechars`), but also badly formed tags/ranges (`de-de-latn`, `*-10-oboe`) and probably invalid tags.

Normally, extended filtering does not prevent non-well-formed tags from being matched. Nor does it prevent non-well-formed (as language tags) ranges from matching tags (including both well-formed and non-well-formed ones).

Upon reflection, I think this additional well-formedness/validity requirement text should go away. But the implications of the canonicalization step need to be spelled out. Perhaps:

> Both the content language and the language range must be canonicalized and converted to extlang form as per section 4.5 of [[RFC5646]](https://www.w3.org/TR/selectors-4/#biblio-rfc5646) prior to the extended filtering operation. Language tags that are not valid cannot be matched and language ranges that cannot be canonicalized do not match anything.




@aphillips 

> (Note: The text you quoted would forbid the range `fr-x` from matching because `fr-x` is not a well-formed tag. This is an error in the text I suggested.)

Please correct that text, in this issue, so I can be sure to correct it in the way you have in mind.

> Upon reflection, I think this additional well-formedness/validity requirement text should go away.

Please quote, and then indicate the deletion, of the text that should go away.

> But the implications of the canonicalization step need to be spelled out.

Happy to add that but would prefer to see all the edits agreed in advance, so the issue can be fully resolved and closed.

Thanks all for the valuable discussion. It seems that much work remains to be done, in multiple places. I therefore propose:

- in Selectors 4, to delete the text

> Language ranges that are not well-formed language tags or which would not be a well-formed language tag if an initial wildcard character "*" were replaced with a valid subtag, do not match anything.

- to re-tag this issue for Selectors 5